<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulta IMC</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <h2>RESULTADOS IMC</h2>

    <form action="/buscar" method="post">
        <label>Nombre a buscar:</label>
        <input type="text" name="nombre"/>
        <button type="submit">Buscar</button>
    </form>

    <p th:if="${datos}" th:text="${datos}"></p>

    <div class="nav">
        <a href="/">Volver al Registro</a>
    </div>

</body>
</html>