<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro IMC</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <h2>CALCULADORA IMC</h2>

    <form action="/calcular" method="post">
        <label>Nombre:</label>
        <input type="text" name="nombre"/><br><br>

        <label>Edad:</label>
        <input type="text" name="edad"/><br><br>

        <label>Peso:</label>
        <input type="text" name="peso"/><br><br>

        <label>Estatura:</label>
        <input type="text" name="estatura"/><br><br>

        <button type="submit">Calcular</button>
    </form>

    <p th:if="${resultado}" th:text="${resultado}"></p>

    <div class="nav">
        <a href="/consulta">Ver Consulta</a>
        <a href="/acerca">Acerca de</a>
    </div>

</body>
</html>